{% load widget_tweaks %}

<div class="modal-header">
  <h3 class="modal-title">Project details</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="">
    projectid:
    {{ project.projectid }}
  </div>
  <div class="">
    projectname:
    {{ project.projectname }}
  </div>
  <div class="">
    Department:
    {{ project.Department }}
    €
  </div>
  <div class="">
    priority:
    {{ project.priority }}
  </div>
  <div class="">
    client:
    {{ project.client }}
  </div>
  <div class="">
    workstatus:
    {{ project.workstatus }}
  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>